SisComWeb.Business/Connected Services/ServicioConsultaDNIRUC/WsConsulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="integradores.jelaf.pe" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="integradores.jelaf.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="integradores.jelaf.pe">
      <s:element name="CONSULTAR_RUC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RUC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CONSULTAR_RUCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CONSULTAR_RUCResult" type="tns:RUC_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RUC_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_CONTR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RAZON_SOCIAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DOM_FISCAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESTADO_CONTR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CONDI_CONTR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CONSULTAR_DNI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DNI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CONSULTAR_DNIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CONSULTAR_DNIResult" type="tns:DNI_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DNI_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DNI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AP_PATERNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AP_MATERNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRES" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CONSULTAR_RUCSoapIn">
    <wsdl:part name="parameters" element="tns:CONSULTAR_RUC" />
  </wsdl:message>
  <wsdl:message name="CONSULTAR_RUCSoapOut">
    <wsdl:part name="parameters" element="tns:CONSULTAR_RUCResponse" />
  </wsdl:message>
  <wsdl:message name="CONSULTAR_DNISoapIn">
    <wsdl:part name="parameters" element="tns:CONSULTAR_DNI" />
  </wsdl:message>
  <wsdl:message name="CONSULTAR_DNISoapOut">
    <wsdl:part name="parameters" element="tns:CONSULTAR_DNIResponse" />
  </wsdl:message>
  <wsdl:portType name="WsConsultaSoap">
    <wsdl:operation name="CONSULTAR_RUC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar RUC</wsdl:documentation>
      <wsdl:input message="tns:CONSULTAR_RUCSoapIn" />
      <wsdl:output message="tns:CONSULTAR_RUCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CONSULTAR_DNI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultar DNI</wsdl:documentation>
      <wsdl:input message="tns:CONSULTAR_DNISoapIn" />
      <wsdl:output message="tns:CONSULTAR_DNISoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsConsultaSoap" type="tns:WsConsultaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CONSULTAR_RUC">
      <soap:operation soapAction="integradores.jelaf.pe/CONSULTAR_RUC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CONSULTAR_DNI">
      <soap:operation soapAction="integradores.jelaf.pe/CONSULTAR_DNI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsConsultaSoap12" type="tns:WsConsultaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CONSULTAR_RUC">
      <soap12:operation soapAction="integradores.jelaf.pe/CONSULTAR_RUC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CONSULTAR_DNI">
      <soap12:operation soapAction="integradores.jelaf.pe/CONSULTAR_DNI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsConsulta">
    <wsdl:port name="WsConsultaSoap" binding="tns:WsConsultaSoap">
      <soap:address location="http://integradores.jelaf.pe/WsRUC/WsConsulta.asmx" />
    </wsdl:port>
    <wsdl:port name="WsConsultaSoap12" binding="tns:WsConsultaSoap12">
      <soap12:address location="http://integradores.jelaf.pe/WsRUC/WsConsulta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>